<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cordova.plugins.mobiletwilioext"
    version="1.0.0">

    <name>TwilioClient</name>
    <description>This is the jar file that's needed for the twilio plugin. This contains the twilio client for android</description>
    <author>Stevie Graham/Lyle Pratt/Jeff Linwood/Ike Nnah</author>
    <license>Apache</license>

   

    <!-- android -->
     <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="org.apache.commons.net">
                <param name="android-package" value="org.apache.commons.net"/>
            </feature>
        </config-file>

        <source-file src="src/android/twilioclient-android.jar" target-dir="libs" framework="true" />    
     </platform> 
    <!-- ios -->
  

</plugin>
